<div style="margin-top: -80px">
    <div class="row justify-content-md-center text-center">
        <div class="col col-3 bg-white habilities" style="border-radius: 15px 0 0 15px; box-shadow: 0 5px 5px 0 gray">
            <i class="bi-cpu"></i>
            <h3>Backend</h3>
            <p>Desde la creación de APIs, hasta la implmentación de microservicios y conexión con bases de datos.</p>
            <p class="test-primary cabecera">Stack:</p>
            <p>ASP.NET, SQL Server</p>
            <p class="test-primary cabecera">Experiencia:</p>
            <ul>
                <li>ASP.NET Core MVC</li>
                <li>Web APIs</li>
                <li>Microservicios</li>
                <li>Entity Framework Core</li>
                <li>Swagger Testing</li>
            </ul>

        </div>
        <div class="col col-3 bg-white habilities" style="border-radius: 0 15px 15px 0 ; box-shadow: 0 5px 5px 0 gray">
            <i class="bi-code-slash"></i>

            <h3>Frontend</h3>
            <p>Soy capaz de crear frontends solidos que cumplan con los requerimientos esperados.</p>
            <p class="test-primary cabecera">Stack:</p>
            <p>Angular, React</p>
            <p class="test-primary cabecera">Experiencia:</p>
            <ul>
                <li>Angular Material</li>
                <li>JQuery</li>
                <li>API Calls</li>
                <li>Selectable Languages</li>
                <li>Swagger Testing</li>
            </ul>
        </div>
    </div>
</div>
