@{
    ViewData["Title"] = "Tecnología";
}

<div class="container justify-content-md-center text-center">
    <h1>Tecnologías</h1>
    <p>Aquí se encuentra un listado separado por secciones de todas las tecnologías con las que trabajo.</p>
</div>

<div style="margin-top: 5rem">
    <div class="row justify-content-md-center text-center">
        <div class="col col-3 bg-white habilities" style="border-radius: 15px 0 0 0; box-shadow: 0 5px 5px 0 gray">
            <i class="bi-code"></i>
            <h3>Lenguajes de Programación</h3>
            <ul>
                <li>C#</li>
                <li>C++</li>
                <li>C</li>
                <li>Typescript</li>
                <li>Javascript</li>
                <li>Python</li>
                <li>Java</li>
            </ul>

        </div>
        <div class="col col-3 bg-white habilities" style="border-radius: 0 15px 0 0 ; box-shadow: 0 5px 5px 0 gray">
            <i class="bi-database"></i>

            <h3>Bases de Datos</h3>
            <ul>
                <li>SQL</li>
                <li>MySQL</li>
                <li>MariaDB</li>
                <li>PostgreSQL</li>
                <li>SQL Server</li>
                <li>OracleDB</li>
                <li>pgAdmin4</li>
            </ul>
        </div>
    </div>
    <div class="row justify-content-md-center text-center">
        <div class="col col-3 bg-white habilities" style="box-shadow: 0 5px 5px 0 gray">
            <i class="bi-cpu"></i>
            <h3>Frameworks</h3>
            <ul>
                <li>.NET Framework</li>
                <li>ASP.NET</li>
                <li>Entity Framework</li>
                <li>Angular</li>
                <li>React</li>
            </ul>

        </div>
        <div class="col col-3 bg-white habilities" style="box-shadow: 0 5px 5px 0 gray">
            <i class="bi-window-fullscreen"></i>

            <h3>IDEs</h3>
            <ul>
                <li>Visual Studio</li>
                <li>Visual Studio Code</li>
                <li>Pycharm</li>
                <li>NetBeans</li>
                <li>Eclipse</li>
            </ul>
        </div>
    </div>
    <div class="row justify-content-md-center text-center">
        <div class="col col-3 bg-white habilities" style="border-radius: 0 0 0 15px; box-shadow: 0 5px 5px 0 gray">
            <i class="bi-file-ruled"></i>
            <h3>Ofimática</h3>
            <ul>
                <li>Word</li>
                <li>PowerPoint</li>
                <li>Email</li>
                <li>Drive & Dropbox</li>
            </ul>

        </div>
        <div class="col col-3 bg-white habilities" style="border-radius: 0 0 15px 0 ; box-shadow: 0 5px 5px 0 gray">
            <i class="bi-three-dots"></i>

            <h3>Otros</h3>
            <ul>
                <li>HTML & CSS</li>
                <li>XML</li>
                <li>JSON</li>
                <li>Git</li>
            </ul>
        </div>
    </div>
</div>
