@{
    ViewData["Title"] = "Gracias por contactar";

}

<h1>Gracias por iniciar el contacto</h1>
<p>Responderé al mensaje a la mayor brevedad posible.</p>
<div><a asp-action="Index" asp-controller="Home">Volver al Inicio</a></div>
